@font-face {
  src: url("@/assets/fonts/ClashDisplay-Extralight.woff2") format("woff2");
  font-family: ClashDisplay;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("@/assets/fonts/ClashDisplay-Light.woff2") format("woff2");
  font-family: ClashDisplay;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("@/assets/fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-family: ClashDisplay;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("@/assets/fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-family: ClashDisplay;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("@/assets/fonts/ClashDisplay-SemiBold.woff2") format("woff2");
  font-family: ClashDisplay;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("@/assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-family: ClashDisplay;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

